@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --color-bg-dark: oklch(0.92 0.01 250);
    --color-bg: oklch(0.96 0.01 250);
    --color-bg-light: oklch(1 0.01 250);
    --color-text: oklch(0.15 0.02 250);
    --color-text-muted: oklch(0.4 0.02 250);
    --color-highlight: oklch(1 0.02 250);
    --color-border: oklch(0.6 0.02 250);
    --color-border-muted: oklch(0.7 0.02 250);
    --color-primary: oklch(0.4 0.1 250);
    --color-primary: oklch(0.388 0.0427 252.71);
    --color-accent: oklch(0.8579 0.1365 88.42);
}

.dark {
    --color-bg-dark: oklch(0.1 0.01 250);
    --color-bg: oklch(0.15 0.01 250);
    --color-bg-light: oklch(0.2 0.01 250);
    --color-text: oklch(0.96 0.02 250);
    --color-text-muted: oklch(0.76 0.02 250);
    --color-highlight: oklch(0.5 0.02 250);
    --color-border: oklch(0.4 0.02 250);
    --color-border-muted: oklch(0.3 0.02 250);
    --color-primary: oklch(0.77 0.036 252);
    --color-accent: oklch(0.8579 0.1365 88.42);
}
