---
import AuthButton from '../components/authButton.jsx';
import NavLink from './navLink.astro';
---

<nav class="flex h-16 items-center justify-between bg-gray-950 px-4">
    <div>
        <NavLink href="/" name="SkinSale" />
    </div>
    <div>
        <AuthButton />
    </div>
</nav>
