---
import AuthWidget from '../components/authWidget.jsx';
import NavLink from './navLink.astro';
---

<nav class="flex h-16 items-center justify-between bg-zinc-950 px-4">
    <div class="flex gap-2">
        <a href="/" class="cursor-pointer text-xl font-bold">SkinSale</a>
        <NavLink href="/mythic" name="Mythic Shop" />
        <NavLink href="/sales" name="Sale Rotation" />
        <NavLink href="/catalog" name="Catalog" />
    </div>
    <AuthWidget client:load transition:persist />
</nav>
